name: CI/CD Pipeline - Developer Evaluation

on:
  push:
    branches:
      - main
      - develop
  pull_request:
    branches:
      - main
      - develop

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout do Codigo
        uses: actions/checkout@v3

      - name: Configurar .NET 8.0
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 8.0.x

      - name: Restaurar Dependencias
        run: dotnet restore DeveloperStoreAmbev.sln

      - name: Compilar o Projeto
        run: dotnet build DeveloperStoreAmbev.sln --no-restore --configuration Release

      - name: Executar Testes Unitarios
        run: dotnet test DeveloperStoreAmbev.sln --no-build --verbosity normal


  docker-build:
    needs: build-test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout do Codigo
        uses: actions/checkout@v3

      - name: Configurar Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Construir Imagem Docker
        run: docker build -t developer-evaluation-api .

      - name: Criar Container e Testar API
        run: |
          docker run -d -p 8080:8080 --name developer-evaluation-api developer-evaluation-api
          sleep 10 # Esperar a API inicializar
          curl -X GET http://localhost:8080/api/sales || exit 1

  deploy:
    needs: docker-build
    runs-on: ubuntu-latest
    steps:
      - name: Deploy Placeholder (Adicione aqui sua estrategia de deploy)
        run: echo "Deploy nao implementado. Configure para AWS/Azure/Docker Hub/etc."
